.jcbtn
{padding:10 30 10 30;
border-width: 10px;
border-radius: 10px;
background-color: aqua;
color: white;
}
.htp
{
    padding:10 100 10 100;
border-width: 10px;
border-radius: 10px;
background-color: aqua;
color:white;
}